{% extends 'layout.html' %}
{% block content %}
    <h1>Album Review</h1>
    <table>
        <thead>
            <tr>
                <td>Album</td>
                <td>Artist</td>
                <td>Release Year</td>
                <td>Rating</td>
                <td>Options</td>
            </tr>
        </thead>
        {% for album in albums %}
            <tr>
                <td>{{ album.name }}</td>
                <td>{{ album.artist }}</td>
                <td>{{ album.release_year }}</td>
                <td>{{ album.rating }}/5</td>
                <td><a href="{{ url_for('albums.update', album_id=album.id) }}">Edit</a><a href="{{ url_for('albums.delete', album_id=album.id) }}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}